<div class="form">
  <form (submit)="save()">
    <mat-form-field>
      <mat-label>Select HOME team</mat-label>
      <mat-select [(value)]="chosenHomeTeam">
        <mat-option *ngFor="let team of teamList" [value]="team">{{team.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Select AWAY team</mat-label>
      <mat-select [(value)]="chosenAwayTeam">
        <mat-option *ngFor="let team of teamList" [value]="team">{{team.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <button mat-raised-button type="submit" color="primary">Add match</button>
  </form>
</div>
