<div id="login-container">
  <div class="horizontal-center">
    <form (submit)="login()">
      <mat-form-field>
        <mat-label>User name</mat-label>
        <input matInput type="text" name="username" [(ngModel)]="credentials.username">
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="credentials.password">
      </mat-form-field>
      <br/>
      <div class="horizontal-center">
        <button mat-stroked-button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
